.main-action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


.main-action:hover{
    color: black;
    opacity: 0.7;
    transform: scale(1.04);
}


